/*HEADER*/
header {
    position: sticky;
    top: 0;
    padding: 10px;
    z-index: 1000;
    background: #fff;
    -wbkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.55);
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.55);

}

.header__img {
    height:128px;
    width: 128px;
}




/*body*/
body {
    padding-top: 20px;
    background-color: #f8f9fa;
}

.table-responsive {
    margin-top: 20px;
}

.container {
    max-width: 960px;
}






/*FOOTER*/


.footer__img {
    height: 86px;
    width: 128px;
}

body {
background-color: white;
}

